body {
  position:            relative;
  color:              #ffffff;
  background:         #152219;
}

* {
  font-size:            20px;
  letter-spacing:       2px;
  font-family:          'Barlow Condensed', sans-serif;
}

.game-title {
  background-color:    #344e41;
  background-image:     url(../images/bo_play_pattern.png);
  position:             relative;
  margin:               0;
  padding:              10px;
  width:                60%;
  font-family:          'Expletus Sans', cursive;
  font-size:            100px;
  font-style:           normal;
  color:              #696968;
  -webkit-text-stroke:  1px #c6c3ba;
  line-height:          1;
}

.game-subtitle {
  position:            absolute;
  margin:              0;
  margin-top:          -50px;
  margin-left:         450px;
  font-family:         'Supermercado One', cursive;
  font-size:           60px;
  color:             #344e41;
  filter:              drop-shadow(2px 2px 10px #b2ceb3);
  -webkit-text-stroke: 1px #46684c;
}

div {
  text-align:          center;
}

/* Bio & Pic Section */
#band-div {
  position:            relative;
  top:                 40px;
  left:                50px;
  width:               300px;
  height:              300px;
  padding:             10px;
  margin-left:         10px;
}
.biopic {
  width:               250px;
  height:              200px;
  border-radius:       25px;
}

#container {
  position:            absolute;
  top:                 200px;
  left:                500px;
}


/* Game Section */
#game-section {
  float:               left;
  background-color:  #46684C;
  width:               500px;
  height:              750px;
  padding-top:         4px;
  padding-right:       14px;
  padding-left:        14px;
  margin-bottom:       50px;
  border:              7px ridge #B2CEB3;
  border-radius:       14px;
  box-shadow:          inset -1px -1px #658E64, 0px 1px #C6C3BA;
}

#explanation {
  text-align:          justify;
}

#hint-text {
  background-color: #C6C3BA;
  color:            #344E41;
  text-align:       left;
  padding:          6px;
}

#current-name, #guessed-letters {
font-size:            120%;
}

#guessed-letters {
  min-height:         20px;
  border:             2px ridge #B2CEB3;
  border-radius:      14px;
  background-color: #658E64;
}

#wins {
  font-size:          150%;
  color:            #a53860; 
  }







  /* Extra small devices (phones) */
@media only screen and (max-width: 640px) {
  header {
    position: static;
  }

.game-title {
  position:             relative;
  margin:               0;
  padding:              10px;
  width:                60%;
  font-size:            100px;
  overflow-y:           hidden;
  }

.game-subtitle {
  position:            absolute;
  margin:              0;
  margin-top:          -50px;
  margin-left:         450px;
  font-size:           60px;
  }
 
}

/* Medium devices (tablets) */
@media only screen and (max-width: 768px) {
  .game-title {
    position:             relative;
    margin:               0;
    padding:              10px;
    width:                60%;
    font-size:            100px;
    overflow-y:           hidden;
    }
  
  .game-subtitle {
    position:            absolute;
    margin:              0;
    margin-top:          -50px;
    margin-left:         450px;
    font-size:           60px;
    }

    .p-container {
    max-width: 588px;
    float: left;
    margin: auto;
    position: relative;
    left: 2px;
    bottom: 4px;
  }
  .p-section {
    float: center;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
  }

  .port {
    padding: 0px 1px 0px 1px; 
    float: center;  
    overflow: auto; 
  }
 
  .port h3 {
    bottom: 20px;
    width: 80%;
    padding: 10px;
    margin-bottom: 0;
  }

  .responsive {
    width: 180px;
    height: 180px;
  } 

}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 980px) {
  .p-container {
    width: 900px;
    margin: auto;
  }

  .p-section {
    max-width: 756px;
    position: relative;
    left: 72px;
    bottom: 10px;
  }

  .port {
    width: 230px;  
    position: relative;
    float: center;
    padding: 0px 0px 1px 0px;
    overflow: auto;
  }
  
  .port img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .port h3 {
    bottom: 20px;
    width: 80%;
    padding: 10px;
    margin-bottom: 0;
  }

  .responsive {
    width: 180px;
    height: 180px;
  }

}